body {
	font-size: 11px;
}
.title svg {
	height: 10.5vw;
}
.title text {
	font-size: 10.5vw;
}
.title p {
	margin-top: 10%;
	font-size: 3.5vw;
	letter-spacing: .1em;
}
.input > section {
	margin-top: 10%;
}
.input h2 {
	font-weight: 300;
}

.attendance > div > div {
	display: block;
	text-align: center;
	margin-left: 0px;
	margin-top: 16px;
}
.attendance > div > div:first-child::after {
	display: none;
}
.attendance input {
	padding: 4px 14px
}
.switchArea #swImg {
	margin-top: 0;
}
#output p {
	padding: 7%;
}
.author {
	margin-top: 20%;
}

/*アコーディオン*/
.accordion-box label {
	font-weight: 300;
}
.accordion-box label:after {
    bottom: -16px;
	left: 10px;
}
.accordion-box label:before {
    bottom: -8px;
	left: 30px;
}